<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>🧊 얼랭 🧊</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Moirai+One&display=swap" rel="stylesheet">
        <link href="style.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="bg">
        <div id="top_bar"></div>
        <h1 id="title_font">🧊 얼랭 🧊</h1>
    </body>
</html>