#title_font {
    font-family: 'Moirai One';
    font-size: 45px;
    color: white;
    z-index: 2;
    top: -126px;
    left: 100px;
    transform : rotate(0.04deg);
    position: relative;
}

#top_bar {
    padding: 50px;
    width: 100%;
    background-color: #16375e;
    left: -92px;
    top: -15px;
    z-index: 1;
    position: relative;
}

body {
    background-color: #101010;
}